@font-face{
  font-family:reeji;
  src:url('../fonts/reeji.ttf') format("truetype");
  font-weight:400;
  font-display:auto;
  font-style:normal
}

.text-multi-over{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
